html,body{
  overflow-x: hidden;
}
.container{
  max-width: 100vw !important;
  height: 100vh;
  background-color: rgb(27, 27, 27);
  margin-left: 0vh !important;
  margin-right: 0vh !important;
  border: 1px solid black;
  
  
}

.childcontainer{
  width: 86vw;
  border-radius: 10px;
  margin:1vh auto;
  display: flex;
  min-height: 50vh;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: rgb(96, 230, 96);
  padding: 5vh;
  
}
.pagination{
  color: white;
  /* background-color: lightcoral; */
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.pagination li {
  margin: 1vmax;
  font-weight: 700;
  
}
.previous a, .next a{
  font-weight: 900;
  color: black;
  background-color: blanchedalmond;
  padding: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.selected{
  background-color: tomato;
  padding: 1vh;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  
  
}
